<%- include('../../partials/header.ejs') %>
<body>
  <%- include('../../partials/navbar.ejs') %> 
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="mt-4">Categorias</h2>
      <a href="/admin/categories/new" class="btn btn-success d-flex align-items-center">Cadastrar categoria</a>
    </div>
    
    <hr>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Título</th>
          <th>Slug</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% categories.forEach(category => { %>
        <tr>
          <th><%= category.id%></th>
          <th><%=category.title%></th>
          <th><%=category.slug%></th>
          <th>
            <a href="/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>
            <form method="POST" action="/categories/delete" style="display: inline" onsubmit="deleteCheck(event, this)">
              <input type="hidden" name="id" value="<%= category.id%>">
              <button type="submit" class="btn btn-outline-danger">Apagar</button>
            </form>
          </th>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
<%- include('../../partials/footer.ejs') %>
<script>
  function deleteCheck(event, form){
    event.preventDefault();

    Swal.fire({
      title: 'Você deseja apagar esta categoria?',
      text: 'Esta ação não pode ser desfeita.',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#2D9C23',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Sim, apagar!',
      cancelButtonText: 'Cancelar'
    }).then((result) => {
      if(result.isConfirmed) {
        form.submit();
      }
    });
  };

</script>