<%- include('partials/header.ejs') %>
  <body>
    <%- include('partials/homenavbar.ejs') %> 
    <div class="container">
      <div class="card mt-4 mb-4">
        <div class="card-body">
          <h3><%= article.title %></h3>
          <p><%- article.body %></p>
        </div>
        <div class="card-footer mt-2">
          <a href="/" class="btn btn-dark">Voltar</a>
        </div>
      </div>
    </div>
  </body>
  <%- include('partials/footer.ejs') %>
</body>
<%- include('partials/footer.ejs') %>