<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/header.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %> 
    <div class="container">
    </div>
  </body>
  <%- include('partials/footer.ejs') %>
</body>
<%- include('partials/footer.ejs') %>